@implements IDisposable
@inherits DemoCompontentBase;

<MSnackbar @bind-Value="Show" Color="white" Top>
    <ChildContent>
        @{
            var (icon, color) = GetMessageIconInfo();
        }
        <MIcon Color="@color" Size=18>@icon</MIcon>
        <span style="color:black">@Message</span>
    </ChildContent>
    <ActionContent>
        <MIcon Color="black" Size=18 OnClick="Close">mdi-close</MIcon>
    </ActionContent>
</MSnackbar>

@code{
    [Parameter]
    public bool Show { get; set; }

    [Parameter]
    public EventCallback<bool> ShowChanged { get; set; }

    [Parameter]
    public string? Message { get; set; }

    [Parameter]
    public int TimeOut { get; set; } = 2000;

    [Parameter]
    public MessageTypes MessageType { get; set; }

    async Task Close()
    {
        if (ShowChanged.HasDelegate)
        {
            await ShowChanged.InvokeAsync(false);
        }
        else Show = false;
    }

    public void ShowMessage(string message,MessageTypes messageType,int timeOut)
    {
        Show = true;
        Message = message;
        MessageType = messageType;
        TimeOut = timeOut;

        base.StateHasChanged();
    }

    (string icon,string color) GetMessageIconInfo()
    {
        if(MessageType == MessageTypes.Information) return ("mdi-information","green");
        else if(MessageType == MessageTypes.Success) return ("mdi-check-circle","blue");
        else if(MessageType == MessageTypes.Error) return ("mdi-close-circle","error");
        else return ("mdi-alert-circle","warning");
    } 

    protected override void OnInitialized()
    {
        GlobalConfig.OnMessageChanged += ShowMessage;
    }

    public void Dispose()
    {
        GlobalConfig.OnMessageChanged -= ShowMessage;
    }
}
